* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
}
.container {
  display: flex;
  margin: 30px;
  justify-content: space-between;
}
.navbar {
  display: flex;
  list-style: none;
  margin-top: 27px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: gray;
  gap: 35px;
  font-size: 20px;
}
.navbar:hover {
  cursor: pointer;
}
li {
  display: flex;
  justify-content: space-between;
}
.logo {
  margin-top: 10px;
  margin-left: 60px;
  font-size: 35px;
  font-weight: 700;
}
.username {
  margin-right: 50px;
  padding: 20px 10px 20px 10px;
  background-color: lightskyblue;
  color: white;
  border-radius: 5%;
}
.username:hover {
  cursor: pointer;
}
.main {
  display: flex;
}
.text {
  width: 50vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.text h1{
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    top: 150px;
    left: 70px;
}
.img {
  width: 50vw;
  height: 85vh;
}
#text-color{
    color: rgb(91, 124, 229);
}
.descr{
    width: 500px;
    height: 300px;
    font-size: 20px;
    display: flex;
    align-items: flex-start;
    position: relative;
    left: 70px;
    top: 180px;
    gap: 5px;
    color: gray;
    word-spacing: 5px;
    line-height: 25px;
}
#Btn{
    position: relative;
    top: 0px;
    left: 70px;
    padding: 20px 30px 20px 30px;
    border-radius: 8px;
    background-color: rgb(91, 124, 229);
    color: white;
    font-size: 20px;
}
#Btn:hover{
    cursor: pointer;
    padding: 23px 33px 23px 33px;
    box-shadow: 5px;
}
#image{
    width: 30vw;
    height: 50vh;
    margin: 80px;
}